@import "../../styles/variables/variables.scss";

.select {
  max-width: 300px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;

  [class*="-control"] {
    height: 44px;
    outline: none;
    background: $white;
    border: $border;
    border-radius: 4px;

    &:hover {
      border: $border;
      background: $white;
    }

    &:focus-within {
      border: $border;
      outline: none;
      box-shadow: none;
      background: rgb(232, 240, 254);
    }
  }
  [class*="-ValueContainer"] {
    padding: 0 15px 0;
  }
  [class*="-option"] {
    min-height: 40px;
    padding: 10px 15px;
    background-color: $white;
    position: relative;
    z-index: 100;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: $signal-black;
    cursor: pointer;

    &:hover {
      background-color: $smoky-white;
    }
  }
  [class*="menu"] {
    margin: 0;
    padding: 0;
    background: $white;
    box-shadow: 0 4px 12px 2px rgba(0, 0, 0, 0.02);
    border-radius: 4px;
  }
  [class*="-IndicatorsContainer"] {
    display: block;
  }

  [class*="-indicators"] {
    display: none;
  }

  [class*="-singleValue"] {
    margin: 0;
    padding: 0;
    margin-left: 2px;
  }
  [class*="-placeholder"] {
    margin: 0;
    padding: 0;
    color: hsl(0, 0%, 50%);
  }
  [class*="-Input"] {
    margin: 0;
    padding: 0;
  }
}
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
