@import "../../../styles/variables/variables.scss";

.flex {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.title {
  margin-top: 5px;
  margin-bottom: 0;
  font-family: SBSansInterfaceSemibold;
  font-size: 20px;
  line-height: 26px;
  color: $signal-black;
}
.success {
  width: 38px;
  height: 38px;
}
.succesWrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.succesWrapper::after {
  display: block;
  content: "";
  position: absolute;
  width: 80px;
  height: 80px;
  background: rgba(5, 174, 113, 0.15);
  border-radius: 100px;
}
