@import "../../styles/variables/variables.scss";

.button {
  padding: 12px 16px;
  color: #fff;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  background: $slate-blue;
  border-radius: 4px;
}
