@import "../styles/vendor/fonts/fonts.scss";
@import "../styles/variables/variables.scss";

* {
  box-sizing: border-box;
}

body {
  max-width: 930px;
  margin: 0 auto;
  padding: 0 15px;
  font-family: SBSansInterfaceRegular, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: $pale-blue;
}

button {
  padding: 0;
  border: none;
  outline: none;
  cursor: pointer;
  background: none;
  font-family: SBSansInterfaceRegular;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
a {
  text-decoration: none;
}

input {
  outline: none;
  font-family: SBSansInterfaceRegular;
}
input:focus {
  background-color: $background;
}
textarea {
  outline: none;
  border: none;
  background: $background;
}

textarea:focus {
  background: $background;
}
input:-webkit-autofill {
  -webkit-text-fill-color: rgba(0, 0, 0, 0.48);
  transition: background-color 5000s ease-in-out 0s;
}
