/*btn_colors*/
$slate-blue: #5558fa;
$signal-black: #333333;
$dark-gray: #858585;
$lavender: #d5e4f7;
/*btn_colors*/
$btn-hover: brightness(0.9);
$btn-focus: brightness(0.8);
$btn-active: brightness(0.9);
/*transition*/
$transition: all 0.3s ease-in-out;
