@import "../../styles/variables/variables.scss";

.inputWrapper {
  max-width: 300px;
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

.buttons {
  display: flex;
  justify-content: space-between;
}
.comebackBtn {
  padding: 11px 16px;
  border: 1.5px solid $slate-blue;
  background: none;
  color: $slate-blue;
}
.next {
  width: 73px;
}

.confirm {
  color: $red;
  font-size: 14px;
}
